* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

header {
    color: white;
    font-family: 'Itim', cursive;
    font-size: 17px;
    margin-top: 30px;
    text-align: center;
}

body {
    background: black;
}

.imagem__banner {
    width: 70%;
}

main {
    align-items: center;
    display: grid;
    font-family: 'Itim', cursive;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    text-align: center;
}

div {
    padding: 50px   ;
}

.titulo {
    color: white;
    font-size: 37px;
    text-transform: uppercase;
}

#data {
    border-radius: 15px;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

ul {
    color: white;
    font-size: 30px;
    list-style: none;
}

.tenor-gif-embed {
    height: 20px;
}


@media screen and (max-width: 768px) {
    .imagem__banner {
        width: 100%;
    }

    main {
        display: block;
    }

    .titulo {
        font-size: 20px;
    }

    #data {
        font-size: 15px;
    }

    ul {
        font-size: 20px;
    }
    
}

